@import "config";

body {
  font: 100% "Space Mono", monospace;
  background-color: map_get($colors, color1);
  color: map_get($colors, color3);
  margin: 0;
  padding: 0;
  background-image: $radial-gradient;
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
  background-attachment: fixed;
}

article {
  display: flex;
  flex-wrap: wrap;

  section {
    flex-grow: 1;
    flex-basis: 45%;
    border: 1px solid map_get($border-color, color1);
    @include add-box-shadow;
    padding: $padding;
    margin: $padding;
    clear: both;
    overflow: auto;
    box-sizing: border-box;

    &#selling-points {
      flex-grow: 2;
      flex-basis: 100%;
    }
  }
